apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: veilcloud

resources:
  - namespace.yaml
  - configmap.yaml
  - secret.yaml
  - deployment.yaml
  - service.yaml
  - hpa.yaml
  - pdb.yaml

commonLabels:
  app.kubernetes.io/name: veilcloud
  app.kubernetes.io/part-of: veilsuite
  app.kubernetes.io/managed-by: kustomize
